@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,800&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: Circular Std;
  font-display: swap;
  src: url("../files/CircularStdBook.woff") format("woff"), url("../files/CircularStdBook.woff2") format("woff2");
  font-weight: Book;
  font-style: normal;
}

@font-face {
  font-family: Circular Std;
  font-display: swap;
  src: url("../files/CircularStdMedium.woff") format("woff"), url("../files/CircularStdMedium.woff2") format("woff2");
  font-weight: Medium;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Open Sans;
  background: #020a18;
  color: #ffffff;
}

.wrapper a {
  color: inherit;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

body.lock {
  overflow: hidden;
}

.btn {
  padding: 15px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border-radius: 5px;
  white-space: nowrap;
  background-color: #3a68b8;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #1155ca;
}

.title {
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  color: #ffffff;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  text-shadow: 1px 1px 1px black;
}

.header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, rgba(255, 255, 255, 0.02) 260.24%);
}

.header .header__container {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.header .header__logo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  color: #3a68b8;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.header .header__burger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

.header .header__menu.active {
  transition: transform 0.3s ease;
  transform: translate(0, 0);
}

.header .header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header .header__items li {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 137.5%;
}

main .start {
  background-color: #08101e;
  overflow: hidden;
  padding: 50px 0;
}

main .start__container {
  position: relative;
  display: flex;
  z-index: 1;
}

main .start__body {
  padding: 110px 0;
  max-width: 604px;
  min-width: 400px;
  z-index: 1;
}

main .start__title-up {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
  margin: 0 0 10px 0;
}

main .start__title {
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  margin: 0 0 40px 0;
}

main .start__text {
  font-size: 18px;
  margin: 0 0 50px 0;
}

main .start__click {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

main .start__click .btn {
  font-size: 20px;
}

main .start__click .btn.play {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

main .start__click .btn.play::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #ffffff;
  border-bottom: 10px solid transparent;
}

main .start__image {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -16%;
  z-index: 0;
}

main .company {
  padding: 39px 0 99px;
  background-color: #08101e;
}

main .company__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 71px;
       column-gap: 71px;
  row-gap: 20px;
}

main .learn {
  padding: 130px 0;
}

main .learn__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

main .learn__image {
  position: absolute;
  top: 50%;
  left: -131px;
  transform: translate(0, -50%);
  z-index: 0;
}

main .learn__body {
  padding: 178px 0;
  max-width: 484px;
  min-width: 400px;
  z-index: 1;
}

main .learn__title {
  margin: 0 0 30px 0;
}

main .learn__text {
  margin: 0 0 50px 0;
}

main .slide {
  padding: 40px 0 80px;
}

main .slide__container {
  max-width: 1920px;
}

main .slide__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 362px;
  padding: 30px;
  gap: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.1) 115.68%);
  border-radius: 10px;
  text-align: center;
}

main .slide__image {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .slide__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 125%;
  opacity: 0.7;
}

main .slide__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
}

main .slider {
  position: relative;
}

main .slider .slick-list {
  overflow: hidden;
}

main .slider .slick-slide {
  transition: all 0.3s;
  opacity: 0.5;
}

main .slider .slick-slide.slick-active {
  transition: all 0.3s;
  opacity: 1;
}

main .slider .slick-track {
  display: flex;
  gap: 30px;
}

main .slider .slick-dots {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
}

main .slider .slick-dots li {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: rgba(44, 54, 71, 0.5);
  opacity: 0.5;
  border-radius: 10px;
}

main .slider .slick-dots li.slick-active {
  background: #2c3647;
}

main .slider .slick-dots li button {
  font-size: 0;
}

main .says {
  padding: 160px 0;
}

main .says__container {
  display: flex;
  position: relative;
}

main .says__body {
  max-width: 548px;
  min-width: 400px;
  z-index: 1;
}

main .says__title {
  margin: 0 0 40px 0;
}

main .says__text {
  max-width: 460px;
}

main .says__text p:not(:last-child) {
  margin: 0 0 20px 0;
}

main .says__image {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 0;
}

main .says__image img {
  width: 61.144vw;
  max-width: 642px;
}

footer {
  background-color: #08101e;
  font-family: Circular Std;
  padding: 80px 0;
}

footer .footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

footer .footer__row-1 {
  display: flex;
  flex-direction: column;
}

footer .footer__row-1 .footer__text {
  margin: 0 0 37px 0;
}

footer .footer__row-1 a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: end;
  gap: 9px;
}

footer .footer__row-1 a::before {
  transform: translate(0, 2.5px);
}

footer .footer__row-1 a:not(:last-child) {
  margin: 0 0 20px 0;
}

footer .footer__logo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3a68b8;
  display: flex;
  gap: 7.83px;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 10px 0;
}

footer .footer__logo img {
  width: 45px;
  height: auto;
}

footer .footer__text {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.6;
  max-width: 260px;
}

footer .mail::before {
  content: url(../img/mail.svg);
}

footer .tel::before {
  content: url(../img/phone.svg);
}

footer .address::before {
  content: url(../img/address.svg);
}

footer .footer__row-2 {
  display: flex;
  flex-direction: column;
}

footer .footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 32px 0;
}

footer .footer__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footer__items li {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.6;
}

footer .footer__row-3 {
  display: flex;
  flex-direction: column;
}

footer .footer__row-4 {
  display: flex;
  flex-direction: column;
}

footer .footer__row-5 {
  display: flex;
  flex-direction: column;
}

footer .footer__row-5 .footer__text {
  margin: 0 0 29px 0;
}

footer .footer__contacts {
  margin: 21px 0 53px 0;
  display: flex;
  align-items: center;
  gap: 25px;
}

footer .footer__btn {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

footer .footer__btn::before {
  content: url(../img/language.svg);
}

footer .footer__btn::after {
  content: url(../img/arrowdown.svg);
}

@media (min-width: 768px) {
  .title {
    font-size: calc(30px + 10 * (100vw / 1146));
  }

  main .start__title {
    font-size: calc(30px + 25 * (100vw / 1146));
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 40px;
  }

  main .start__title {
    font-size: 55px;
  }
}

@media (max-width: 1146px) {
  main .start__body {
    width: 31.459vw;
  }

  main .learn__body {
    width: 31.459vw;
  }

  main .says__container {
    flex-direction: column;
    gap: 20px;
  }

  main .says__body {
    width: 21.4067vw;
  }
}

@media (max-width: 992px) {
  .header .header__container {
    gap: 20px;
  }

  .header .header__items {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: calc(30px + 17 * ((100vw - 320px) / 1146));
  }

  .header .header__container {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #020a18;
  }

  .header .header__container .btn {
    margin: 0 110px 0 0;
  }

  .header .header__burger {
    z-index: 5;
    margin: 0 65px 0 0;
    display: block;
    right: 0;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 20px;
  }

  .header .header__burger span,
  .header .header__burger::after,
  .header .header__burger::before {
    position: absolute;
    height: 10%;
    left: 0;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #ffffff;
  }

  .header .header__burger::after,
  .header .header__burger::before {
    content: "";
  }

  .header .header__burger::before {
    top: 0;
  }

  .header .header__burger::after {
    bottom: 0;
  }

  .header .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header .header__burger.active span {
    transform: scale(0);
  }

  .header .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .header .header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header .header__menu {
    position: fixed;
    transition: transform 0.3s ease;
    transform: translate(-100%, 0);
    overflow: auto;
    left: 0;
    background: #020a18;
    top: 97px;
    width: 100%;
    height: 100%;
    z-index: 50;
  }

  .header .header__items {
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .header .header__items li {
    font-size: 30px;
  }

  main .start {
    padding: 130px 0 0 0;
  }

  main .start__container {
    flex-direction: column;
    gap: 20px;
  }

  main .start__body {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  main .start__title {
    font-size: calc(30px + 42.5 * ((100vw - 320px) / 1146));
  }

  main .start__title {
    margin: 0 0 20px 0;
  }

  main .start__text {
    margin: 0 0 25px 0;
  }

  main .start__image {
    position: relative;
    top: 0;
    transform: translate(0, 0);
    right: 0;
  }

  main .start__image img {
    width: 100%;
    height: auto;
  }

  main .company__container {
    flex-direction: column;
  }

  main .learn {
    padding: 70px 0;
  }

  main .learn__container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  main .learn__image {
    position: relative;
    top: 0;
    transform: translate(0, 0);
    left: 0;
  }

  main .learn__image img {
    width: 100%;
    height: auto;
  }

  main .learn__body {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  main .learn__title {
    margin: 0 0 15px 0;
  }

  main .learn__text {
    margin: 0 0 25px 0;
  }

  main .says {
    padding: 80px 0;
  }

  main .says__body {
    min-width: 0;
    max-width: 100%;
    width: 100%;
  }

  main .says__text {
    max-width: none;
    width: 100%;
  }

  main .says__image img {
    width: 100%;
    max-width: none;
  }

  main .says__image {
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }

  main .says__image img {
    width: 100%;
    height: auto;
  }

  footer .footer__container {
    flex-direction: column;
    text-align: center;
  }

  footer .footer__row-1 {
    align-items: center;
  }

  footer .footer__logo {
    align-items: center;
  }

  footer .footer__row-5 {
    align-items: center;
  }

  footer .footer__contacts {
    margin: 21px 0;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .header .header__menu {
    top: 77px;
  }
}

@media (max-width: 600px) {
  .header .header__container {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .header .logo-text {
    display: none;
  }
}

@media (max-width: 400px) {
  main .slide__item {
    flex: 0 1 320px;
  }
}

@media (max-width: 330px) {
  main .company__container img {
    width: 100%;
    height: auto;
  }
}